.bg-grad {
  width: 100%;
  background: linear-gradient(
    to top left,
    #010610,
    #010610,
    #010610,
    #010610,
    #132444,
    #010610
  );
}

.button {
  transform: translate(-50%, -50%);
  color: #03e9f4;
  padding: 13px 30px;
  font-size: 18px;
  letter-spacing: 3;
  text-transform: uppercase;
  text-decoration: none;
  background: #010a1a;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.button2 {
  transform: translate(-50%, -50%);
  color: #03e9f4;
  padding: 11px 30px;
  font-size: 18px;
  letter-spacing: 3;
  text-transform: uppercase;
  text-decoration: none;
  background: #010a1a;
  border: 1px solid #1779ff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(225, 255, 255, 0.05);
}
.button2::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(225, 255, 255, 0.05);
}

.button span {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.button span:nth-child(2) {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.button span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  width: 100%;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.button span:nth-child(4) {
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.find-border{
  height: 2px;
  background: linear-gradient(to right, #0c002b, #03e9f4);
  width: 50px;
}


.icon-bounc{
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 100%{
    transform: translateY(-25%);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 15); */
  }
  50% {
    transform: translateY(0);
    /* animation-timing-function: cubic-bezier(0, 0, 0.2, 15); */
  }
}

.icon-bounc2{
  animation: bouns2 3s infinite;

}
@keyframes bouns2 {
  0%, 100% {
    transform: translateY(0);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 10); */
  }
  50% {
    transform: translateY(-25%);
    /* animation-timing-function: cubic-bezier(0, 0, 0.2, 10); */
  }
}
